<%= render partial: 'notices/shared/logo' %>
<%= render partial: 'notices/shared/date_and_identifier', :locals => {notice: notice} %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h3>Subject: Special Enrollment Period Denial</h3></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td>Dear <%= notice.primary_fullname %>:  </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Based on the information you provided on «Date_of_Request», your request for a special enrollment period has been denied because you did not provide sufficient information demonstrating that you met the criteria listed in the federal regulations."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This means that, although you may be eligible to participate in the private insurance market available through DC Health Link, either with or without financial assistance (such as premium tax credits and/or cost-sharing reductions), you <u>either</u> are not eligible to enroll in a health/dental plan at this time OR are not eligible to <u>change</u> from the plan you are currently enrolled in because open enrollment is closed OR you are not eligible for an <u>earlier start date</u> for coverage (even if open enrollment is still open)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This decision is supported by the following provision of the Code of Federal Regulations: 45 C.F.R. §155.420(d)."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Please note that if your income has changed, it is important to report this income change to DC Health Link as you may be eligible for coverage through the Medicaid program, where open enrollment occurs all year long. To report a change in income, or to apply for Medicaid for the first time, call DC Health Link Customer Service at (855) 532-5465. If you previously applied for health coverage with financial assistance, tell the customer service representative that you would like to report an update to your income as well as any other updates to your household information."} %>

<%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Circumstances that allow individuals to enroll in or change a private health/dental plans outside of open enrollment include the following, <u>when reported promptly</u> (usually within 60 days), are as follows:",
    listings: [
      ["Moving to the District of Columbia", 
        ["As long as you had previous comprehensive health coverage for at least one day of the 60 days prior to moving to DC, or were moving from a foreign country or a U.S. territory."]], 
      "Birth, adoption, or placement for adoption", 
      "Getting married or entering a domestic partnership",
      "Getting divorced or terminating a domestic partnership",
      "Losing health coverage for reasons other than late payment or non-payment of premiums (ex: job-based coverage, etc.)",
      "Not being enrolled (including termination or cancellation of coverage) was unintentional, inadvertent, or erroneous <u>and</u> was the fault of an employee of a health insurance company, DC Health Link, the U.S. Department of Human Services, or someone.",
      "Becoming a citizen or gaining a legal immigration status (NOTE: Renewing a VISA does not count).",
      "Experiencing a change in eligibility for premium tax credits or cost-sharing reductions, or the amount of cost-sharing reductions, if already enrolled in a DC Health Link plan",
      "Enrolling in the wrong plan was unintentional, inadvertent, or erroneous <u>and</u> was due to an error, misrepresentation, misconduct, or inaction of a DC Health Link employee, and employee of the U.S. Department of Health and Human Services, someone providing enrollment assistance, or an insurance company representative.",
      ["An “exceptional circumstance” as defined by the DC Health Benefit Exchange Authority, which includes:", 
        ["A natural disaster such as an earthquake, massive flooding, or hurricane that prevented enrollment during open enrollment or another enrollment period for which the consumer was otherwise eligible;","A serious medical condition such as an unexpected hospitalization or temporary cognitive disability that prevented enrollment during open enrollment or another enrollment period for which the consumer was otherwise eligible;","A DC Health Link system outage around the plan selection deadline that prevented enrollment during open enrollment or another enrollment period for which the consumer was otherwise eligible;","Leaving an abusive spouse;","Losing eligibility for an exemption from the individual mandate penalty;","Starting or concluding service as an AmeriCorps State and Local, NCCC, or VISTA volunteer;","Being court-ordered to obtain health coverage for yourself or someone else;","Losing access to health coverage provided by an employer due to the employee becoming eligible for Medicare;","Losing COBRA or job-based coverage due to the failure of an employer to submit premium payments for an employee."]]]} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Though this request was denied, you can still request a special enrollment period at any time during the year if you meet any of the requirements listed above. For more information, go to <a href='www.DCHealthLink.com'>www.DCHealthLink.com</a> and search for “Special Enrollment Periods”."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<strong>If your enrollment was terminated due to a billing issue that you believe to be the result of a problem or incorrect information with your health/dental insurance company, DC Health Link encourages you to file a complaint with the DC Department of Insurance, Securities and Banking (DISB)</strong>, which regulates insurers in the District of Columbia. You can file a complaint with DISB at the following link: <a href='http://dcforms.dc.gov/webform/consumer-complaint-form-disb-0'>http://dcforms.dc.gov/webform/consumer-complaint-form-disb-0</a>, by email at <a href='disb.complaints@dc.gov'>disb.complaints@dc.gov</a>, or by calling 202-727-8000. "], heading: 'If Your Coverage Has Terminated or Been Cancelled', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<strong>If you currently have other coverage that is not part of this request (for example, if you are requesting to be enrolled into a dental plan but you already have a separate health plan, or if you were just seeking an earlier start date for coverage that you enrolled in, this denial does not impact that enrollment.</strong> <u>You must make sure to pay all currently due premiums on other coverage that you may have to make sure it remains active throughout the year.</u> Call your health insurance or dental company at the numbers below if you have any questions. "], heading:'Coverage You Are Already Enrolled In (Not Terminated/Cancelled)', sub_heading: ''} %>

<%= render partial: 'notices/shared/table', locals:
	{rows: [['CareFirst', '(855) 444-3119', 'Delta Dental', '(800) 471-0236'],
		    ['Kaiser', '(866) 475-3925', 'Dentegra Dental', '(800) 471-0284'],
		    ['Aetna', '(855) 586-6959', 'Dominion Dental', '(888) 518-5338']],
  	col_styles: ['width: 25%;', 'width: 25%; text-align: center;', 'width: 25%;', 'width: 25%; text-align: center;'],
    table_width: '100%',
    headers: []} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["<strong>If you made payments <u>after</u> the effective date of your plan termination or cancellation, and those funds have not already been refunded to you, you can call your health insurance company at the numbers listed above to request a refund.</strong> If the plan refuses to provide the refund, you can contact the Department of Insurance, Securities, and Banking Consumer Services Division at <a href='disb.complaints@dc.gov'>disb.complaints@dc.gov</a> or (202) 727-8000. You can also submit a complaint online at <a href='http://dcforms.dc.gov/webform/consumer-complaint-form-disb-0'>http://dcforms.dc.gov/webform/consumer-complaint-form-disb-0</a>."], heading:'Refunds', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you are receiving this notice between November 1 and January 31, Open Enrollment is still open and you can still pick a plan. This SEP denial only affects your ability to receive an early start date rather than a regular start date for your plan. Additionally, as mentioned in the “Other Coverage You May Have” section above, it does not affect coverage you have already enrolled in through DC Health Link <u>and that has not been terminated/cancelled</u> for any reason (for example non-payment or late payment)."], heading:'Open Enrollment Season', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "Otherwise, if you are receiving this notice after January 31, the Open Enrollment season for the current calendar year is closed. The 2016 Open Enrollment Season ended on January 31, 2016."} %>

<%= render partial: 'notices/shared/paragraph', :locals => { content: "This denial notice indicates you cannot enroll in a private insurance plan though DC Health Link because you do not qualify for a special enrollment period."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["The enrollment period for Medicaid never closes. A person can apply for Medicaid coverage through DC Health Link at any time of the year by completing an application for financial assistance.  Nothing in this decision impacts the eligibility of anyone in your household who has already been determined eligible for Medicaid or may become eligible in the future."], heading:'Medicaid Enrollment', sub_heading: ''} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => { contents: ["If you disagree with this determination, you have the right to appeal to an independent administrative law judge. You may request an appeal by phone, in person, online, and by mail. You must request an appeal <strong>by «Appeal_Deadline»</strong>. The DC Health Benefit Exchange Authority will work to resolve your appeal as quickly as possible, but appeals can take between 30 and 90 days to resolve. <strong>See the insert for more information on your appeal rights</strong>. 45 C.F.R. §155.520."], heading:'If You Think We Made a Mistake', sub_heading: ''} %>