
<br/><br/>

<div class='container row' >


 <% url, http_method = add_new_sep_exchanges_hbx_profiles_path, :post %>
 	<%= form_tag url, method: http_method, class: 'input-no-pd' do %> 
		
		  	<%= hidden_field_tag "person", f.id %>
		  	<%= hidden_field_tag :effective_on_kind, "first_of_next_month" %>

		  	<div class="col-md-3 form-group form-group-lg no-pd">
			      <%= select_tag :qle_id, options_from_collection_for_select(q, "id", "title"), :prompt => 'SEP REASON', class: "floatlabel form-control", required: true %>
		    </div>


		  	<div class="col-md-3 form-group form-group-lg no-pd">
			      <%= select_tag :effective_date_rule, options_from_collection_for_select(q, "id", "title"), :prompt => 'SEP REASON', class: "floatlabel form-control", required: true %>
		    </div>
		    
		    <div class="col-md-3 form-group form-group-lg no-pd">
		      <%= text_field_tag :event_date, "", :'data-date-max'=> "0d", :'data-date-min'=> "0d",class: "required date-picker qle-date-picker form-control", required: true, placeholder: "MM/DD/YYYY" %>
		    </div>

		    <div class="col-md-3 form-group form-group-lg no-pd">
		      <%= text_field_tag :start_on, "", :'data-date-max'=> "+0d", :'data-date-min'=> "0d",class: "required date-picker qle-date-picker form-control", required: true, placeholder: "MM/DD/YYYY" %>
		    </div>
		    <div class="col-md-3 form-group form-group-lg no-pd">
		      <%= text_field_tag :end_on, "", :'data-date-max'=> "+60d", :'data-date-min'=> "0d",class: "required date-picker qle-date-picker form-control", required: true, placeholder: "MM/DD/YYYY" %>
		    </div>

			<div class="col-md-3 form-group form-group-lg no-pd">
		    <%= text_area_tag :admin_comment, "", class: "floatlabel form-control interaction-control-broker-message-body", required: true, rows: 10, placeholder: "Enter Comment" %>
	      
        <br/>
		  <%= submit_tag("Submit") %>
  	<% end %>

 </div>



