   <%= text_field_tag 'name' %>


    <!--
     <br/></br/>  <br/></br/>
    
      	<div class="carousel-inner" role="listbox" style='min-height: 180px;'>
      		<% count = 0 %>
      		<% @qualifying_life_events.each_slice(5) do |qles| %>
        
        	<div class="item <%= 'active' if count == 0 %>">
          		<ul class="list-qle">
            		<% qles.each_with_index do |qle, index| %>
              		<p><%= qle_link_generater(qle, index) %></p>
            		<% end %>
         	 	</ul>
        	</div>
        	
        	<% count += 1 %>
      	<% end %>
    </div>
  
  
    <%= select_tag "life_events", options_from_collection_for_select(@qualifying_life_events, "id", "title"), prompt: "Select Reason" %>

    	

    	<% url, http_method = '/insured/family_members', :get %>

    	<%= form_tag url, method: http_method, class: 'input-no-pd', id: 'qle_form' do %>
    		<%= text_field_tag(:q) %>
    		<%= submit_tag("Search") %>
    	<% end %>
 -->
    

  