<div class='sep_table'>
  <div id= 'message_form'></div>
    <div id="inbox_provider_form" class="table-responsive">
      <table id='sepAdmin' class="table table-striped table-bordered dataTable module">
        <thead>
          <tr>
            <th>HBX ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>SSN</th>
            <th></th>
            <th>CONSUMER SEP REASON</th>
            <th>STARTED_ON</th>
            <th>EFFECTIVE_ON</th>
            <th>ADMIN SEP REASON</th>
            <th>EFFECTIVE DATE RULE</th>
            <th>ACCEPT/DENY</th>
            <th>CSL#</th>
            <th>COMMENT_BTN</th>
            <th>ADMIN_COMMENTS</th>
            <th>N/A</th>
          </tr>
        </thead>
      
        <tbody>
          <% @families.each do |family| %>
            <tr data-toggle="collapse" data-target="#demo<%=family.primary_applicant.person.hbx_id%>" class="accordion-toggle">
              <td><%=family.primary_applicant.person.hbx_id%></td>
              <td><%=family.primary_applicant.person.last_name%></td>
              <td><%=family.primary_applicant.person.first_name%></td>
              <td><%=begin; number_to_obscured_ssn(family.primary_applicant.person.ssn); rescue; end %></td>
              <td class='details-control' data><i class="fa fa-plus-square"></i></td>
              <td>
                  <% @sep_reasons = [] %>
                  <%family.special_enrollment_periods.to_a.each do |f| %>
                    <% @sep_reasons.push(f.title) %>
                    <%= f.title %>?dummyData
                  <% end %>
              </td>
              <td>
                <% if family.enrollments.present? %>
                  N/A
                <% else %>
                  N/A
                <% end %>  
              </td>
              <td>
                  N/A
              </td>
              <td>
                <!--
                    <%= select_tag "people", options_for_select(@sep_reasons, "id"), prompt: "Select Reason"%>
                -->
                <%= select_tag "life_events", options_from_collection_for_select(@qualifying_life_events, "id", "title"), prompt: "Select Reason" %>
              </td>
              <td>
                <%= text_field_tag 'dob22', class: "date-picker floatlabel form-control", required: true, placeholder: 'DATE' %>
              </td>
              <td>
                <!--
                    <%=  link_to "Accept", 'www.google.com', method: :put, class: "btn btn-success"%>
                    <%=  link_to "Reject", 'www.google.com', method: :put, class: "btn btn-danger"%>
                -->

              </td>
              <td>
                <%= text_field_tag 'name' %> 
              </td>
              <td>
                 <%= link_to 'Comment', 'www.google.com', class: "btn btn-default", remote: true %>
              </td>
              <td>
                  <%family.special_enrollment_periods.to_a.each do |f| %>
                    <%=f.admin_comment%>?dummyData
                  <% end %>
              </td>
              <td>
                    <%= render 'sep/approval/admin_detail', f: family, q: @qualifying_life_events %>
              </td>
            </tr>
          <% end %>
        </tbody>
     </table>
    </div>
</div>




<style type="text/css">
  table.dataTable.select tbody tr,
  table.dataTable thead th:first-child {
     cursor: pointer;
  }

  td.details-control {
    cursor: pointer;
  }
 
  div.slider {
    display: none;
  }
 
  table.dataTable tbody td.no-padding {
    padding: 0;
  }
  
  table.dataTable .hiddenRow {
    padding: 0 !important;
  }
}
</style>