<div class='sep_table'>
  <div id= 'message_form'></div>
    <div id="inbox_provider_form" class="table-responsive">
      <table id='sepAdmin' class="table table-striped table-bordered dataTable module">
        <thead>
          <tr>
            <th>HBX ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>SSN</th>
            <th>SEP REASON</th>
            <th>TEST</th>
            <th></th>
          </tr>
        </thead>
      
        <tbody>
          <% @families.each do |family| %>
            <tr>
              <td><%=family.primary_applicant.person.hbx_id%></td>
              <td><%=family.primary_applicant.person.last_name%></td>
              <td><%=family.primary_applicant.person.first_name%></td>
              <td><%=begin; number_to_obscured_ssn(family.primary_applicant.person.ssn); rescue; end %></td>
          <!-- <td id='title'><%=family.special_enrollment_periods.to_a[0].title%></td> -->
          <!-- <td id='submitted_at'><%=family.special_enrollment_periods.to_a[0].submitted_at%></td> -->
          <!-- <td id='effective_on'><%=family.special_enrollment_periods.to_a[0].effective_on%></td> 
            family.special_enrollment_periods.to_a
        -->
              <td><%=family.special_enrollment_periods.to_a[0].title%></td> 
              <td><%=family.special_enrollment_periods%></td> 
              <td class="details-control"><i class="fa fa-plus-square"></i>
              </td>
            </tr>
          <% end %>
        </tbody>

     </table>
    </div>
</div>

<style type="text/css">
  table.dataTable.select tbody tr,
  table.dataTable thead th:first-child {
     cursor: pointer;
  }

  td.details-control {
    cursor: pointer;
  }
 
  div.slider {
    display: none;
  }
 
  table.dataTable tbody td.no-padding {
    padding: 0;
}
</style>