<div id="address_info" class="row no-buffer focus_effect personal-info-row">
  <div class="col-md-12 no-pd col-sm-12 col-xs-12">
    <div class="row row-form-wrapper no-buffer">
      <div class="col-md-2 col-sm-2 col-xs-12 form-group form-group-lg no-pd">
        <button class="btn btn-new-address">NEW ADDRESS</button>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12 form-group form-group-lg no-pd address">
        <div class="form-group form-group-lg">
          <div class="row" style="margin: 0;">
            <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 no-pd">
              <div class="dropdown">
                <button class="form-control floatlabel adderess-select-box form_group_lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  <label>Home Address</label>
                </button>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-0 floatlabel"></div>
          </div>
        </div>
      </div>
    </div>

    <%= f.fields_for :addresses, f.object.addresses, errors: {}, fieldset: true, :include_id => false do |address| %>
	    <div data-angular2-address-control="yes" data-angular2-address-prefix="<%= address.object_name %>" data-angular2-address-data="<%= address.object.to_json %>" data-angular2-address-state-data="<%= State::NAME_IDS.map(&:last).to_json %>">
	    </div>
    <% end%>
    <%= render 'shared/error_warning' %>
  </div>

  <div class="col-md-2 key col-sm-3 col-xs-12"></div>
</div>
