<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="dropdown <%= 'active' if @years == [2014,2015] %>">
    <%= link_to '2014 - 2015', plan_comparison_dashboards_path(years: '2014-2015', type: @type, unit: @unit, market_kind: @market_kind) %>
  </li>
  <li role="presentation" class="dropdown <%= 'active' if @years == [2015,2016] %>">
    <%= link_to '2015 - 2016', plan_comparison_dashboards_path(years: '2015-2016', type: @type, unit: @unit, market_kind: @market_kind) %>
  </li>
  <li role="separator" class='divider'></li>
  <li role="presentation" class="<%= 'active' if @market_kind == 'shop' %>">
    <a id='drop1' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      shop
      <span class="caret"></span>
    </a>
    <ul id="menu1" class="dropdown-menu" aria-labelledby="drop1">
      <% Analytics::PlanComparison.get_carriers_by_type('shop').each do |carrier| %>
        <li class="<%= 'active' if @market_kind == 'shop' && @carrier == carrier %>">
          <%= link_to carrier, plan_comparison_dashboards_path(market_kind: 'shop', type: @type, unit: @unit, years: @years.join('-'), carrier: carrier) %>
        </li>
      <% end %>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if @market_kind == 'individual' %>">
    <a id='drop2' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      individual
      <span class="caret"></span>
    </a>
    <ul id="menu2" class="dropdown-menu" aria-labelledby="drop2">
      <% Analytics::PlanComparison.get_carriers_by_type('individual').each do |carrier| %>
        <li class="<%= 'active' if @market_kind == 'individual' && @carrier == carrier %>">
          <%= link_to carrier, plan_comparison_dashboards_path(market_kind: 'individual', type: @type, unit: @unit, years: @years.join('-'), carrier: carrier) %>
        </li>
      <% end %>
    </ul>
  </li>
  <li role="separator" class='divider'></li>
  <li role="presentation" class="<%= 'active' if @unit == '$' %>">
    <%= link_to 'cost $', plan_comparison_dashboards_path(unit: '$', market_kind: @market_kind, type: @type, years: @years.join('-'), carrier: @carrier) %>
  </li>
  <li role="presentation" class="<%= 'active' if @unit == '%' %>">
    <%= link_to 'percent %', plan_comparison_dashboards_path(unit: '%', market_kind: @market_kind, type: @type, years: @years.join('-'), carrier: @carrier) %>
  </li>
</ul>

<div id="report" style: "height:400px"> </div>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="dropdown <%= 'active' if @type == 'premium' %>">
    <a id='drop3' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      premium
      <span class="caret"></span>
    </a>
    <ul id="menu3" class="dropdown-menu" aria-labelledby="drop3">
      <li class="<%= 'active' if @age == 25 && @type == 'premium' %>">
        <%= link_to 'Age 25', plan_comparison_dashboards_path(type: 'premium', age: 25, unit: @unit, years: @years.join('-'), market_kind: params[:market_kind], carrier: @carrier) %>
      </li>
      <li class="<%= 'active' if @age == 40 && @type == 'premium' %>">
        <%= link_to 'Age 40', plan_comparison_dashboards_path(type: 'premium', age: 40, unit: @unit, years: @years.join('-'), market_kind: params[:market_kind], carrier: @carrier) %>
      </li>
      <li class="<%= 'active' if @age == 55 && @type == 'premium' %>">
        <%= link_to 'Age 55', plan_comparison_dashboards_path(type: 'premium', age: 55, unit: @unit, years: @years.join('-'), market_kind: params[:market_kind], carrier: @carrier) %>
      </li>
    </ul>
  </li>
  <li role="presentation" class="<%= 'active' if @type == 'deductible' %>">
    <%= link_to 'deductible', plan_comparison_dashboards_path(type: 'deductible', unit: @unit, years: @years.join('-'), market_kind: params[:market_kind]) %>
  </li>
  <li role="presentation" class="<%= 'active' if @type == 'family_deductible' %>">
    <%= link_to 'family_deductible', plan_comparison_dashboards_path(type: 'family_deductible', unit: @unit, years: @years.join('-'), market_kind: params[:market_kind]) %>
  </li>
  <li>
    <%= link_to 'compare plans over multiple years', comparison_over_multiple_years_dashboards_path %>
  </li>
</ul>

<script type="text/javascript">
  $(document).ready(function () {
    $('#report').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: "<%= @carrier.capitalize %> <%= @market_kind.capitalize %> Changes to Most Popular Plans <%= @years.join('-') %> (<%= @unit %>)"
      },
      subtitle: {
        text: ''
      },
      xAxis: [{
        categories: <%= raw @pre_plan_names.to_json %>,
        reversed: false,
        labels: {
          step: 1
        }
      }, { // mirror axis on right side
        opposite: true,
        reversed: false,
        categories: <%= raw @plan_names.to_json %>,
        linkedTo: 0,
        labels: {
          step: 1
        }
      }],
      yAxis: {
        title: {
          text: null
        },
        labels: {
          formatter: function () {
            return "<%= '$' if @unit == '$' %>" + this.value + "<%= '%' if @unit == '%' %>";
          }
        }
      },
      plotOptions: {
        series: {
          stacking: 'normal'
        }
      },
      tooltip: {
        formatter: function () {
          return '<b>' + this.series.name + ', plan: ' + this.point.category + '</b><br/>' +
            "<%= '$' if @unit == '$' %>" + this.point.y + "<%= '%' if @unit == '%' %>";
        }
      },
      series: <%= raw @data.to_json %>
    });
  });
</script>
