<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="dropdown <%= 'active' if @years == [2014,2015] %>">
    <%= link_to '2014 - 2015', plan_visit_type_dashboards_path(years: '2014-2015', type: @type, unit: @unit, market_kind: @market_kind, plan_name: @plan_name) %>
  </li>
  <li role="presentation" class="dropdown <%= 'active' if @years == [2015,2016] %>">
    <%= link_to '2015 - 2016', plan_visit_type_dashboards_path(years: '2015-2016', type: @type, unit: @unit, market_kind: @market_kind, plan_name: @plan_name) %>
  </li>
  <li role="separator" class='divider'></li>
  <li role="presentation" class="dropdown">
    <a id='drop' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Select Plan
      <span class="caret"></span>
    </a>
    <ul id="menu" class="dropdown-menu" aria-labelledby="drop">
      <li class='title'>Top 10 SHOP plans</li>
      <% @shop_plan_names.each do |plan_name| %>
        <li class="<%= 'active' if plan_name == @plan_name %>">
          <%= link_to plan_name, plan_visit_type_dashboards_path(plan_name: plan_name, unit: @unit, years: @years.join('-'), market_kind: 'shop', unit: @unit) %>
        </li>
      <% end %>
      <li role="separator" class="divider"></li>
      <li class='title'>Top 10 QHPs</li>
      <% @individual_plan_names.each do |plan_name| %>
        <li class="<%= 'active' if plan_name == @plan_name %>">
          <%= link_to plan_name, plan_visit_type_dashboards_path(plan_name: plan_name, unit: @unit, years: @years.join('-'), market_kind: 'individual', unit: @unit) %>
        </li>
      <% end %>
    </ul>
  </li>
  <li role="separator" class='divider'></li>
  <li role="presentation" class="<%= 'active' if @type == 'copay' %>">
    <%= link_to 'Copay', plan_visit_type_dashboards_path(type: 'copay', unit: @unit, years: @years.join('-'), market_kind: @market_kind, plan_name: @plan_name) %>
  </li>
  <li role="presentation" class="<%= 'active' if @type == 'coinsurance' %>">
    <%= link_to 'Coinsurance', plan_visit_type_dashboards_path(type: 'coinsurance', unit: @unit, years: @years.join('-'), market_kind: @market_kind, plan_name: @plan_name) %>
  </li>
  <li role="separator" class='divider'></li>
  <li role="presentation" class="<%= 'active' if @unit == '$' %>">
    <%= link_to 'cost $', plan_visit_type_dashboards_path(unit: '$', market_kind: @market_kind, type: @type, years: @years.join('-'), plan_name: @plan_name) %>
  </li>
  <li role="presentation" class="<%= 'active' if @unit == '%' %>">
    <%= link_to 'percent %', plan_visit_type_dashboards_path(unit: '%', market_kind: @market_kind, type: @type, years: @years.join('-'), plan_name: @plan_name) %>
  </li>
</ul>

<div id="report" style: "height:400px"> </div>

<script type="text/javascript">
  var categories = <%= raw @visit_types.to_json %>;
  $(document).ready(function () {
    $('#report').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
        text: "<%= @market_kind.capitalize %> Market <%= @type.capitalize %> Comparison for <%= @plan_name %> (<%= @unit %>)"
      },
      subtitle: {
        text: ''
      },
      xAxis: [{
        categories: categories,
        reversed: false,
        labels: {
          step: 1
        }
      }, { // mirror axis on right side
        opposite: true,
        reversed: false,
        categories: categories,
        linkedTo: 0,
        labels: {
          step: 1
        }
      }],
      yAxis: {
        title: {
          text: null
        },
        labels: {
          formatter: function () {
            return "<%= '$' if @unit == '$' %>" + this.value + "<%= '%' if @unit == '%' %>";
          }
        }
      },
      plotOptions: {
        series: {
          stacking: 'normal'
        }
      },
      tooltip: {
        formatter: function () {
          return '<b>' + this.series.name + ', plan: ' + this.point.category + '</b><br/>' +
            "<%= '$' if @unit == '$' %>" + this.point.y + "<%= '%' if @unit == '%' %>";
        }
      },
      series: <%= raw @data.to_json %>
    });
  });
</script>
