<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="dropdown">
    <a id='drop' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Select
      <span class="caret"></span>
    </a>
    <ul id="menu" class="dropdown-menu" aria-labelledby="drop">
      <% @selections.each do |key, value| %>
        <li class='title'><%= key %></li>
        <% value.keys.each do |name| %>
          <li class="<%= 'active' if name == @subkind %>">
            <%= link_to name, weekly_reports_dashboards_path(kind: key, subkind: name) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>

<% if @table_kind == 'zipcode' %>

    <div id="map" style='height:100%;min-height:600px;'></div>
    <script>
      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 38.8994614, lng: -77.0846063},
          mapTypeId: google.maps.MapTypeId.MAP
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

      function getPoints() {
        var arr = <%= raw @location_arr.to_json %>;
        points = [];
        for (var i=0; i<arr.length; i++){
          var lat = arr[i][0];
          var lng = arr[i][1];
          console.log('lat: '+ lat);
          console.log('lng: ' + lng);
          var point = new google.maps.LatLng(lat, lng);
          points.push(point);
        }
        return points;
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn4mwkPYEmYyuaxcmQE-OUlYI9JCEvK5A&libraries=visualization&callback=initMap">
    </script>
<% else %>
<div id="weekly_report" style: "height:400px"> </div>
<script type="text/javascript">
  $(function () { 
    $('#weekly_report').highcharts({
      chart: {
        type: 'column'
      },
      title: {
        text: "<%= @subkind %>"
      },
      xAxis: {
        categories: <%= raw @report_for_options.to_json %>,
        title: {text: "<%= @title %>"}
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Policy Count'
        }
      },
      series: <%= raw @report_data.to_json %>,
    });
  });
</script>

<hr />

<% if @table_kind == 'double dimensional' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= @title %></th>
        <% @report_for_options.each do |year| %>
          <th><%= year %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @report_data.each do |report| %>
        <tr>
          <td><%= report[:name] %></td>
          <% report[:data].each do |count| %>
            <td><%= count %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif @table_kind == 'zipcode' %>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= @title %></th>
        <th>Count</th>
        <th>Percent</th>
      </tr>
    </thead>
    <tbody>
      <% total = @report_data.first[:data].sum %>
      <% @report_for_options.each_with_index do |option, i| %>
        <tr>
          <td><%= option %></td>
          <% count = @report_data.first[:data][i] %>
          <td><%= count %></td>
          <td><%= "#{(count * 100.0 / total).round(2)}%" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% end %>
