<div class="col-xs-3 right-section pull-right">
  <% if @change_plan.blank?  && @market_kind == "individual" %>
    <% if @enrollment_kind.blank? && is_under_open_enrollment? %>
      <%= render  partial: 'shared/individual_progress', locals: {step: '3'} %>
    <% else %>
      <%= render  partial: 'shared/sep_progress', locals: {step: '4', continue_disabled: false, button_continue: true } %>
    <% end %>
  <% elsif @change_plan.blank? && can_shop_resident?(@person) %>
    <%= render partial: 'shared/coverall_progress', locals: {step: '4'} %>
  <% elsif @change_plan.blank? %>
    <%= render  partial: 'shared/signup_progress', locals: {step: '4'} %>
  <% elsif @change_plan == "change_by_qle" %>
    <%= render partial: 'shared/qle_progress', locals: {step: '2',show_button:false} %>
  <% elsif @change_plan == "change_plan" %>
    <% if (@market_kind == "individual" && !is_under_open_enrollment?) || @enrollment_kind == 'sep' %>
      <%= render  partial: 'shared/sep_shop_for_plans_progress', locals: {step: '2'} %>
    <% else %>
      <%= render partial: 'shared/shop_for_plans_progress', locals: {step: '1', show_waive: true} %>
    <% end %>
  <% end %>
</div>
